#Files
db.php
/developers/node_modules
/genesis-sample/composer-lock.json
/genesis-sample/package-lock.json

# Development files
/developers/dev/node_modules
/developers/assets/vendor

#Directories
/genesis
/twentynineteen
/upgrade
/uploads/

