/* ### Content Layout
----------------------------------------------- */

.content {
  @include media( tablet-large ) {
    float: left;
    width: $content--width-larger-screen;
  }

  &,
  &-sidebar {
	@media print {
	  width: 100%;
	}
  }

  .sticky {
    background-color: $entry-content-sticky--background-color;
    padding: 30px;
  }

  .sidebar-content & {
	@include media( tablet-large ) {
      float: right;
    }
  }

  .full-width-content &,
  .landing-page & {
	@include media( tablet-large ) {
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

