/* ## Site Containers
--------------------------------------------- */

.site-container {
  animation: fadein 1s;
  word-wrap: break-word;
}

@keyframes fadein {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

.site-inner,
.wrap {
  // min-width: 480px; max-width: 767px
  @include media( mobile ) {
	max-width: $max-width--medium-screen; // 800px
  }

  // min-width: 768px; max-width: 1167px
  @include media( tablet ) {
	max-width: $max-width--large-screen; // 960 px
  }

  // min-width: 1168px; max-width: 1379px
  @include media( desktop ) {
	max-width: $max-width--larger-screen; // 1140px
  }

  // min-width: 1380px
  @include media( wide ) {
	margin: 0 auto;
	max-width: $max-width--wide-screen; // 1260px
  }
}

.site-inner {
  clear: both;
  margin: 0 auto;

  // min-width: 480px
   @include media( mobile ) {
    padding: 5% 5% 0;
  }
  // min-width: 768px
  @include media( tablet ) {
	padding: 60px 30px 0;
  }

  @media print {
	padding-top: 0;
	position: relative;
  }
}

.wrap	{
  // min-width: 480px
  @include media( mobile ) {
	padding: 0 5%;
  }

  // min-width: 768px
  @include media( tablet ) {
	padding: 0 0;
  }
}

.landing-page .site-inner {
  max-width: $max-width__landing-page;
}

