//
// Title Area Base Styles
//==============================

.title-area {
  @include media( mobile ) {
	width: 100%;
	text-align: center;
  }
  @include media( desktop )	{
	float: left;
	padding-bottom: 25px;
	padding-top: 25px;
  }
}

@media only screen and (max-width: 1023px) {
  .site-description,
  .site-header .title-area,
  .site-header .widget-area,
  .site-title {
    text-align: center;
  }
}
