.wp-custom-logo {

  .title-area {
	max-width: $title-area--width;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 100%;

	& img {
	  width: auto;
	}
  }
}

.site-title {
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 0;
	}

	& a,
	& a:focus,
	& a:hover {
	  color: $site-title--link-color;
	  text-decoration: none;
	}

.site-description,
.wp-custom-logo .site-title {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

