/* Author Box -- Base Styles
 --------------------------------------------------- */

.author-box {
  background-color: $author-box--background-color;
  @include rem( font-size, $author-box--font-size );
  margin-bottom: 40px;

  p:last-child {
    margin-bottom: 0;
  }

  @include media( tablet-large ) {
    background-color: $author-box--background-color;
    padding: 30px;
    margin-bottom: 60px;
  }

  @media print {
	margin-bottom: 0;
  }
}

.author-box-title {
  @include rem( font-size, $author-box__Title--font-size);
  font-weight: 600;
  margin-bottom: 10px;
}
