/*
	Theme Name: Developers
	Theme URI: https://github.com/rgadon107/developers-theme

	Description: The Genesis-powered Developer's Starter Child Theme
	Author: Robert A. Gadon
	Author URI: https://spiralwebdb.com

	Version: 1.0.5

	Tags: accessibility-ready, block-styles, responsive-menu, custom-colors, custom-logo, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, left-sidebar, one-column, right-sidebar, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, two-columns, wide-blocks

	Template: genesis
	Template Version: 3.3.2

	License: GPL-2.0+
	License URI: https://www.gnu.org/licenses/gpl-2.0.html
	Text Domain: developers
*/

@import '../../node_modules/sass-rem/rem';

@import 'utilities/index';
@import 'base/index';
@import 'layouts/index';
@import 'components/index';
@import 'plugins/index';
@import 'views/index';
