/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
  border-top: 1px solid $footer-widgets--border-color;
  background-color: $footer-widgets--background-color;
  //@include rem( font-size, $footer-widgets--font-size );
  clear: both;
  padding: 60px 0;

  .wrap {
    margin-left: auto;
    margin-right: auto;

    @include media ( tablet-large ) {
      max-width: $max-width-larger-screen;
    }
  }

  .widget:last-child {
    margin-bottom: 0;
  }
}

.footer-widget-area {
  margin-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;

  @include media ( tablet-large ) {
    float: left;
    margin-bottom: 0;
    width: calc(100% / 3);
  }

  &:last-child {
    margin-bottom: 0;
  }
}
