//
// Comments base stylings
//========================

.comment-respond,
.entry-comments,
.entry-pings {
  margin-bottom: 40px;

  @include media( tablet-large ) {
    margin-bottom: 60px;
  }
}

.entry-pings .reply {
  display: none;
}

