//
// Comment Form Cookies Consent
//==============================

.comment-form-cookies-consent {
  label {
    display: inline;
    padding-left: 10px;
  }
}

.comment-form {
  @media print {
	display: none !important;
  }
}

