//
// Comment Content
//=================

.comment-content {
  clear: both;

  ul > li {
    list-style-type: disc;
  }
}

.edit-link,
.entry-comments-link {
  @media print {
	display: none !important;
  }
}

