//
// Base navigation styles
//==========================

.genesis-nav-menu {
  clear: both;
  @include rem( font-size, $nav--font-size );
  line-height: 1;
  width: 100%;

  > .menu-bold > a {
	@include media( tablet-large ) {
      font-weight: 700;
    }
  }

  > .menu-highlight > a {
	@include media( tablet-large ) {
      background-color: $nav-menu-highlight--background-color;
      border-radius: 3px;
      color: $nav-menu-highlight--link-color;
      font-weight: 600;
      margin-left: 15px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &:focus,
    &:hover {
	  @include media( tablet-large ) {
        background-color: $nav-menu-highlight--link-focus-color;
      }
    }
  }

  .menu-item {
    display: block;
    float: none;
    position: relative;

    @include media( tablet-large ) {
      display: inline-block;
    }

    &:focus,
    &:hover {
      position: relative;

	  @include media( tablet-large ) {
        position: relative;
      }
    }

    &:hover > .sub-menu {
      display: block;
      left: auto;
      opacity: 1;
    }
  }

  a {
    color: $nav--link-color;
    display: block;
	@include rem( font-size, $nav--font-size );
    font-weight: 400;
    outline-offset: -1px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-decoration: none;
  }

  a:focus,
  a:hover,
  .current-menu-item > a,
  .sub-menu .current-menu-item > a:focus,
  .sub-menu .current-menu-item > a:hover {
    color: $nav--hover-color;
    text-decoration: none;
  }

  .sub-menu,
  .sub-menu a {
    width: 100%;

	@include media( tablet-large ) {
      width: 180px;
    }
  }

  .sub-menu {
    clear: both;
    display: none;
    left: -9999px;
    margin: 0;
    opacity: 1;
    padding-left: 15px;
    position: static;
    z-index: 99;

	@include media( tablet-large ) {
      border-top: 1px solid $submenu--border-color;
      opacity: 0;
      padding-left: 0;
      position: absolute;
      transition: opacity 0.4s ease-in-out;
    }

    a {
      background-color: $submenu--link-background-color;
      @include rem( font-size, $submenu--font-size );
      position: relative;
      word-wrap: break-word;

	  @include media( tablet-large ) {
        border: 1px solid $submenu--link-border-color;
        border-top: 0;
        padding-bottom: 15px;
        padding-top: 15px;
      }
    }

    .sub-menu {
	  @include media( tablet-large ) {
        margin: -46px 0 0 179px;
      }
    }
  }
}
