/* ## Primary Navigation
--------------------------------------------- */

.nav-primary {
  clear: left;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 100%;

  @include media( tablet-large ) {
    clear: none;
    float: right;
    width: auto;
  }

  .genesis-nav-menu a {
	@include media( tablet-large ) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

