/* # Sidebar -- Base
--------------------------------------------------------------------- */

.sidebar {
  @include rem( font-size, $sidebar--font-size);
  line-height: 1.5;
  margin-bottom: 40px;

  @include media( tablet-large ) {
    float: right;
    width: $primary-sidebar--width;
  }

  @media print {
	display: none !important;
  }

  &-content & {
    @include media( tablet-large ) {
      float: left;
    }
  }

  .widget {
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 20px;
  }
}

