
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: $html--font-size; /* 10px browser default */
}

body {
  background-color: $body--background-color;
  color: $base__color;
  font-family: $base--font-family;
  font-weight: 400;
  line-height: $base--line-height;
  margin: 0;
  overflow-x: hidden;

   @include media( mobile ) {
    @include rem( font-size, $base--font-size--small-screen );
  }

  @include media( tablet )	{
	@include rem( font-size, $base--font-size );
  }
}

