/* ## Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}

img {
  height: auto;
  vertical-align: top;

  @media print {
	page-break-inside: avoid;
	page-break-after: avoid;
	max-width: 100% !important;
  }
}

figure {
  margin: 0;
}

